
.background-section {
  width: 100%;
  height: 100%; /* Adjusts the height to 33% of the viewport height */

  background-size: cover; /* Ensures the image covers the area */
  background-position: center center; /* Positions the image at the top center */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.rc{
  width: 700px;
  height: 700px;
  border-radius: 100%;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  -webkit-transform: rotate(0.000001deg); 
  -webkit-border-radius: 100%; 
  -moz-border-radius: 100%;
padding: 20%;
  margin-top: 65%; /* Center vertically */
  margin-left: 20%; /* Center horizontally */
 }
 .video-circle {
 border-radius: 50%;
 object-fit: cover;
 }

  .responsive-img {
    width: 100%;
    height: auto;
  }

  @media (max-width: 700px) {
    .responsive-img {
      content: url('../Assets/mobileDots.png'); 
      height: 80vh;
      /* Switch to mobileDots when screen width is below 600px */
    }
  }

  @media (max-width: 1200px) { 
    .rc{
      margin-top: 65%; /* Center vertically */
      margin-left: 15%; }
  }
  @media (max-width: 900px) {
    .rc{
      margin-top: 44%; /* Center vertically */
      margin-left: 7%;
    }
  }